body{
    background: url("../img/paisaje.jpg ");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

#cont-algoritmos{
    width: 80%;
    margin: 120px auto;
    border: 2px solid rgb(185, 109, 151);
    text-align: center;
    padding: 30px;

}
h1{
    color: aliceblue;
    font-size: 50px;
    margin-bottom: 50px;
}
h2{
    color: rgb(255, 237, 237);
    font-size: 30px;

}
button{
    padding: 10x 20px;
    border: 2px solid pink;
    background: transparent;
    color: rgb(0, 0, 0);
    margin: 28px;
    border-radius: 8px;
    font-size: 10px;
    cursor: pointer;
    transition: .5s;
}