body{
    background: rgb(182, 100, 114);
    text-align: center;
    padding: 100px;
}
#logo{
    width: 200px;
    border-radius: 25px;
    border: 4px solid rgb(6, 5, 5);
    transition: 1s;
}
#logo:hover{
    transform: rotate(300deg) scale(1,2);
    border: 4px dotted rgb(0, 0, 0);  
}
#btn{
    display: block;
    padding: 12px 20px;
    background: rgb(13, 13, 13);
    color: azure;
    border-radius: 10px;
    box-shadow: 5px 5px 4px 3px coral;
    max-width: 220px;
    margin: 20px auto;
    text-decoration: none;
    transition: 5px;
}
#btn:hover{
    transform: scale(0.8);
    background: rgb(29, 93, 107);
    color: rgb(255, 255, 255);
}

h1{
    color: antiquewhite;
    font-size: 30px;
    text-decoration: underline;
}

p{
    text-align: 30px;
    color: rgb(19, 19, 19);
}

ol{
    text-align: left;
}

table{
    width: 100%;
    margin:  40px 0;
}

tr td{
    border: 1px solid rgb(0, 0, 0);
}
td{
    padding: 20px;
}

.cabecera{
    background: pink;
}

form{
    width: 600px;
    margin: 50px auto;
    background: rgb(204, 145, 192);
    padding: 30px;
    text-align: left;
}
label{
    display: block;
}
input{
    display: block;
    margin-bottom: 26px;
    padding: 5px 12px;
    width: 85%;
}
button{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background: pink;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(179, 77, 138);
    cursor: pointer;
    transition: .5s;
}
button:hover{
    background: rgb(165, 80, 94);
    color: rgb(138, 64, 121);
    border-radius: 0;
}
iframe{
    margin: 40px 0;
}